body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:'Times New Roman', Times, serif;
    background:lightblue;
    }
    .wrapper,
.card{
height:450px;
max-width:300px;
margin:auto;
position:relative;
}
.wrapper{
    perspective:900px;
    }
    .card{
        text-align:center;
        transition:all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
        transform-style:perserve-3d;
        }
        .wrapper:hover .card{
            transform:rotateY(180deg);
            }
            .front,
            .back{
            width:300px;
            position:relative;
            top:0;
            left:0;
            backface-visibility:hidden;
            }
            .front{
                cursor:pointer;
                height:100%;
                background-image:url(/computers-club-online-services-wallpaper-preview.jpg);
                backface-visibility:hidden;
                background-size:cover;
                border-radius:50px;
                background-position:center center;
                position:relative;
                /* background: wheat; */
                }  
                .back{
                    transform:rotateY(180deg);
                    position:absolute;
                    border-radius:50px;
                    height:450px;
                    background: white;
                    backface-visibility:hidden;
                    color: red                                                                           ;
                    }                                              
.content{
padding-top:25%;

}
.content h2{
font-size:35px;
margin:0;
font-weight:300;
}