/* .header{
    grid-area: header;
}
.aside{
    grid-area: aside;
}
.right{
    grid-area: right;
}
.footer{
    grid-area: footer;
} */
.main{
    display: grid;
    /* grid-template-areas: 'header header header header header header' 'aside right right right right right' 'footer footer footer footer footer footer'; */
    gap: 10px;
    background-color: palevioletred;
    padding: 10px;

}
.main > div {
    
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    height: 800px;
width: 100%;

}
.header{
    height: 100px;
    width: 100%;
    float: left;
    background-color: lightskyblue;
    box-sizing: border-box;
}
.aside{
    height: 650px;
    width: 40%;
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    
}
.footer{
    height: 50px;
    background-color:  #6699CC;

}
.right{
    background-color: lightpink;
   text-align: center;
   
  
}
.image{
   border: solid black;
   font-size: 30px;
   height: 150px;
   width: 150px;
   display: inline-block;



   
  


  
}