*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;

}
.main{
    width: 75%;
    margin: 50px auto;
    font-size: 40px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-rows: 150px 500px 100px;
    grid-template-columns: 40% 60%;
    grid-gap:20px;
}
.header{
    background-color: darkcyan;
    grid-column: 1/-1;
   
}
.sidebar{
    background-color: darkcyan;
   
}
.content{
    background-color: darkcyan;

}
.footer{
    background-color: darkcyan;
    grid-column: 1/-1;


}